WALLET_PRIVATE_KEY = 

QUICKNODE_RPC_URL =
JUPITER_API_BASE = 

RAPID_HOST_NAME = 
RAPID_API_KEYS = 

ASTRALANE_URL = 
ASTRALANE_API_KEY =

MONITOR_USER1 = 
MONITOR_KEYWORD1 =
MONITOR_CA1 =
MONITOR_BUY_AMOUNT1 =

MONITOR_USER2 = 
MONITOR_KEYWORD2 =
MONITOR_CA2 = 
MONITOR_BUY_AMOUNT2 = 

MONITOR_USER3 = 'top100token'
MONITOR_KEYWORD3 = 'token'
MONITOR_CA3 = 'EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v'
MONITOR_BUY_AMOUNT3 = 0.0001

SLIPPAGE_TOLERANCE = 100  # 1%

LOOP_TIME = 10
